[submodule "study-100"]
	path = study-100
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-100
	datalad-id = 52142b84-dc76-11ea-98c5-7cdd908c7490
[submodule "study-101"]
	path = study-101
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-101
	datalad-id = 5146e8d6-dc76-11ea-a2da-7cdd908c7490
[submodule "study-102"]
	path = study-102
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-102
	datalad-id = 506ce096-dc76-11ea-95f0-7cdd908c7490
[submodule "study-103"]
	path = study-103
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-103
	datalad-id = 4fb7be64-dc76-11ea-ad07-7cdd908c7490
[submodule "study-104"]
	path = study-104
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-104
	datalad-id = 4f03a794-dc76-11ea-994b-7cdd908c7490
[submodule "study-106"]
	path = study-106
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-106
	datalad-id = 4e6738a0-dc76-11ea-94dc-7cdd908c7490
[submodule "study-107"]
	path = study-107
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-107
	datalad-id = 4da8b48e-dc76-11ea-964e-7cdd908c7490
[submodule "study-108"]
	path = study-108
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-108
	datalad-id = 4ce38894-dc76-11ea-8fef-7cdd908c7490
[submodule "study-109"]
	path = study-109
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-109
	datalad-id = 4c2ee286-dc76-11ea-911b-7cdd908c7490
[submodule "study-115"]
	path = study-115
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-115
	datalad-id = 4b88f9a2-dc76-11ea-a40f-7cdd908c7490
[submodule "study-44"]
	path = study-44
	url = /home/cristian/datalad/inm7-studies/inm7-studies-superset/../study-datasets/study-44
	datalad-id = 5d1d514a-dc76-11ea-a8da-7cdd908c7490
